################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/App5/FileContentIndex/0d6c3fcd-63d2-495b-bb4b-9625ff9d07ad.vsidx
/.vs/App5/FileContentIndex/5141cc08-4715-4be3-b9e1-47b5d707890a.vsidx
/.vs/NewGames/v17/.wsuo
